In [ ]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('world.csv')
df1

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91867 entries, 0 to 91866
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              91867 non-null  int64
 1   iso_code        91867 non-null  object
 2   洲名              91867 non-null  object
 3   國家              91867 non-null  object
 4   日期              91867 non-null  object
 5   總確診數            91867 non-null  int64
 6   新增確診數           91867 non-null  int64
 7   七天移動平均新增確診數     91867 non-null  float64
 8   總死亡數            91867 non-null  int64
 9   新增死亡數           91866 non-null  float64
 10  七天移動平均新增死亡數     91866 non-null  float64
 11  每百萬人確診數         91866 non-null  float64
 12  每百萬人死亡數         91866 non-null  float64
 13  傳染率             91866 non-null  float64
 14  新增檢驗件數          91866 non-null  float64
 15  總檢驗件數           91866 non-null  float64
 16  每千人檢驗件數         91866 non-null  float64
 17  七天移動平均新增檢驗件數    91866 non-null  float64
 18  陽性率             91866 non-null  float64
 19  每確診案例相對檢驗數量     91866 non-null  float64
 20  疫苗總接種總劑數        91866 non-null  float64
 21  疫苗總接種人數         91866 non-null  float64
 22  疫苗新增接種劑數        91866 non-null  float64
 23  七天移動平均疫苗新增接種劑數  91866 non-null  float64
 24  每百人接種疫苗劑數       91866 non-null  float64
 25  每百人接種疫苗人數       91866 non-null  float64
 26  疫情控管指數          91866 non-null  float64
 27  總人口數            91866 non-null  float64
 28  中位數年紀           91866 non-null  float64
 29  70歲以上人口比例       91866 non-null  float64
 30  平均壽命            91866 non-null  float64
 31  解除隔離數           91866 non-null  float64
 32  解封指數            91866 non-null  float64
dtypes: float64(25), int64(4), object(4)
memory usage: 23.1+ MB

In [4]:
df2 =df1.reindex(columns = ['洲名', '國家', '日期', '總確診數', '新增確診數', '傳染率'])
df2

       洲名   國家          日期  總確診數  新增確診數  傳染率
0      亞洲  阿富汗  2020-02-24     5      5  0.0
1      亞洲  阿富汗  2020-02-25     5      0  0.0
2      亞洲  阿富汗  2020-02-26     5      0  0.0
3      亞洲  阿富汗  2020-02-27     5      0  0.0
4      亞洲  阿富汗  2020-02-28     5      0  0.0
...    ..  ...         ...   ...    ...  ...
91862  亞洲   寮國  2020-10-04    23      0  0.0
91863  亞洲   寮國  2020-10-05    23      0  0.0
91864  亞洲   寮國  2020-10-06    23      0  0.0
91865  亞洲   寮國  2020-10-07    23      0  0.0
91866  亞洲   寮國  2020-10-08    23      0  NaN

[91867 rows x 6 columns]

In [5]:
df2 =df1.reindex(columns = ['洲名', '國家', '日期', '總確診數', '新增確診數', '傳染率'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91867 entries, 0 to 91866
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   洲名      91867 non-null  object
 1   國家      91867 non-null  object
 2   日期      91867 non-null  object
 3   總確診數    91867 non-null  int64
 4   新增確診數   91867 non-null  int64
 5   傳染率     91866 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.2+ MB