In [1]:
'robert' in ['robert','alice']

True

In [2]:
x = 80
x >= 60 and x<=100
60 <= x <= 100

True

In [4]:
import pandas as pd

df = pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名', '國家', '日期', '總確診數', '新增確診數'])
df1

        洲名   國家          日期    總確診數  新增確診數
0       亞洲  阿富汗  2020-02-24       5      5
1       亞洲  阿富汗  2020-02-25       5      0
2       亞洲  阿富汗  2020-02-26       5      0
3       亞洲  阿富汗  2020-02-27       5      0
4       亞洲  阿富汗  2020-02-28       5      0
...     ..  ...         ...     ...    ...
187880  非洲  辛巴威  2022-07-02  255586      0
187881  非洲  辛巴威  2022-07-03  255586      0
187882  非洲  辛巴威  2022-07-04  255726    140
187883  非洲  辛巴威  2022-07-05  255755     29
187884  非洲  辛巴威  2022-07-06  255805     50

[187885 rows x 5 columns]